// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5c5c4c;
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #ded0c1;
$dark-brown: #543c3b;
$pink: #e6c7c7;
$rusty-brown: #8c5c4c;
$light-brown: #bc9c7c;
