// Specific CSS for your home-page
 body {
  width: 100vw;
}
.row {
  margin: 0 !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Optional: Add a slight vertical translation */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Define the visible state for the fade-in effect */
.fade-in-visible {
  opacity: 1;
  transform: translateY(0); /* Reset vertical translation */
}


.about_image {
  width: 20em;
  height: 30em;
  margin: 6em;
  margin-left: 15em;
}

.about_photo { /* Set the maximum width to 100% of its container */
  height: 100%; /* Set the maximum height to 100% of its container */
  width: 100%;
  object-fit: cover;

  border-radius: 155px 155px;
}

.section-title {
  color: $dark-brown;
  padding-bottom: 1em;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 5%;
  right: 4%;
  z-index: 1000; /* Adjust this value as needed */
  /* Other styles */
}

.phone {
  height: 4em;
  width: 4em;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.9em;
  color: rgba(230, 199, 199, 1);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 7px rgba(145, 118, 118, 0.1);

  border: none;
  text-decoration: none !important;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  border-radius: 50%;
}

.fa-phone {
  font-size: 1.7em;
  margin-left: 1px;
  text-decoration: none !important;
  color: inherit;
}

a {
  text-decoration: none !important;
}

.banner {
  background-color: $beige;
  height: 55vh;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  overflow: hidden;
}

.banner-text {
  font-family: 'Nanum Myeongjo', serif;
  font-style: italic;
  font-size: 2.5em;
  color: #bc9c7c;
}


.banner-image img {
  width: 100%; /* Ensure the image spans the entire width of the container */
  height: auto;
}

.banner-image {
  background-color: $beige;
  height: 75vh;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  overflow: hidden;
}
