// Specific CSS for your home-page

.about_image {
  width: 20em;
  height: 30em;
  margin: 6em;
  margin-left: 15em;
}

.about_photo { /* Set the maximum width to 100% of its container */
  height: 100%; /* Set the maximum height to 100% of its container */
  width: 100%;
  object-fit: cover;

  border-radius: 155px 155px;
}

h3 {
  font-family: Helvetica, sans-serif, sans-serif; /* Replace 'Your Custom Font' with the actual font name */
}
