main {
  padding: 10%;
}

.gallery {
  display: flex;
  justify-content: center;
}

.photo {
  flex: 0 0 calc(50% - 2%); /* 50% width with 1% margin on each side */
  margin: 1%; /* 1% margin between images */
  box-sizing: border-box; /* Include padding and border in the width */
}

.left {
  order: 1; /* Display on the left */
}

.right {
  order: 2; /* Display on the right */
}

.photo img {
  width: 100%; /* Set a fixed width for the images */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block;
  object-fit: cover; /* Ensure the image covers the entire container */
}
