<div class="banner-image" style="height: 100vh;">
  <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194488/AdeleWedding/fotos/awp4_c4st6d.jpg" alt="Banner Image">
  <div class="image-text">Weddings</div>
</div>
<div class="gallery">
  <div class="gallery__column">
    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696641805/AdeleWedding/bodas/3J1A1363_n4v3qb.jpg" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194485/AdeleWedding/fotos/awp3_c7kg96.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp2_bekl5c.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp13_pebw3v.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp7_fmelgn.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194488/AdeleWedding/fotos/awp8_wboo8c.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638110/AdeleWedding/bodas/3J1A9007_df0083.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="h" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638227/AdeleWedding/bodas/3J1A7699_qabkap.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638071/AdeleWedding/bodas/3J1A6331_y9bbh4.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638463/AdeleWedding/bodas/3J1A2891_pnvsu7.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696641454/AdeleWedding/bodas/5003_n4n79f.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638487/AdeleWedding/bodas/3J1A3408_tv8djv.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696638603/AdeleWedding/bodas/3J1A7289_gwrje4.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>

    <a href="" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696639340/AdeleWedding/bodas/3J1A8866_cloif5.jpg" alt="Portrait by Adela Portillo" class="gallery__image">
        <figcaption class="gallery__caption">Portrait by Adela Portillo</figcaption>
      </figure>
    </a>
  </div>
  <div id="imageModal" class="modal-container"></div>
</div>

<script>
  // Function to open the modal with the clicked image
  function openModal(imgSrc) {
    var modalContainer = document.getElementById('imageModal');
    modalContainer.innerHTML = ''; // Clear any previous content

    var modalImage = document.createElement('img');
    modalImage.src = imgSrc;
    modalContainer.appendChild(modalImage);
    modalContainer.style.display = 'block';

    // Close the modal when the close button is clicked
    modalImage.addEventListener('click', function () {
      closeModal();
    });

    // Close the modal when clicking outside of it
    modalContainer.addEventListener('click', function (event) {
      if (event.target === modalContainer) {
        closeModal();
      }
    });
  }

  // Function to close the modal
  function closeModal() {
    var modalContainer = document.getElementById('imageModal');
    modalContainer.style.display = 'none';
  }

  // Get all image links with the class "gallery__link"
  var imageLinks = document.querySelectorAll('.gallery__link');

  // Add a click event listener to each image link
  imageLinks.forEach(function (link) {
    link.addEventListener('click', function (event) {
      event.preventDefault();
      var imgSrc = this.querySelector('.gallery__image').getAttribute('src');
      openModal(imgSrc);
    });
  });
</script>
