<footer class="text-light p-4" style="background-color: rgb(220,212,196); font-family:'Nanum Myeongjo';" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &copy;AdelePort 2023 Wedding Photographer
      </div>
      <div class="col-md-6 text-end">
        <!-- Add your social media links here (e.g., icons with links) -->
      </div>
    </div>
  </div>
</footer>
