<div id="footer" class="text-light">
  <div class="row">
    <div class="col-md-5 p-3">
      <p>&copy;AdelePort 2023 Wedding Photographer</p>
    </div>
    <div class="col-md-6">
      <ul class="footer a-holder d-flex justify-content-space-between" style="font-size: 1.5em;">
        <img src="https://res.cloudinary.com/dqbhsik89/image/upload/v1696361227/Logos_Adele_Port-65_yzluqe.png" alt="adele port weddings logo">
        <%= link_to "https://www.instagram.com/adeleport_wp/" do %>
          <i class="fab fa-instagram" style="color: white;"></i>
        <% end %>
        <%= link_to "/" do %>
          <i class="fa-solid fa-house" style="color: white;"></i>
        <% end %>
        <%= link_to "/#contact_page" do %>
          <i class="fa-solid fa-phone" style="color: white; font-size: 1.1em !important;"></i>
        <% end %>
      </ul>
    </div>
  </div>
</div>
