<div class="overlay">
    <div class="container-main d-flex" style="background-color: rgb(92,92,76);">
      <div class="container d-flex">
        <div class="about_image col-lg-6">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694192497/ni%C3%B1a_babosa_qnrsw5.jpg" class="about_photo" alt="Wedding Photo 1">
        </div>
      </div>
      <div class="row" style="padding: 5rem;">
        <div class="col-lg-8" style="padding-right: 1rem; padding-top: 4em;">
          <h3><span style="color: rgb(188, 156, 124); font-size: 0.9em; font-weight: bold;">&bull; ABOUT &bull;</span></h3>
          <p><br /><span style="color: rgb(188, 156, 124); font-size: 10px; ">WELCOME TO ADELE PHOTOGRAPHY – WHERE MOMENTS ARE CAPTURED, AND MEMORIES ARE MADE TIMELESS. WE ARE A PASSIONATE TEAM OF DEDICATED PHOTOGRAPHERS WHO SPECIALIZE IN TURNING YOUR SPECIAL DAY INTO A VISUAL MASTERPIECE. WE BELIEVE THAT EVERY LOVE STORY IS UNIQUE AND DESERVES TO BE TOLD BEAUTIFULLY THROUGH THE ART OF PHOTOGRAPHY. OUR APPROACH IS A BLEND OF CREATIVITY, CANDID MOMENTS, AND ATTENTION TO DETAIL. WE STRIVE TO CAPTURE THE ESSENCE OF YOUR LOVE, THE EMOTIONS, AND THE LITTLE THINGS THAT MAKE YOUR WEDDING DAY TRULY EXTRAORDINARY.</span></p>
        </div>
      </div>
    </div>
  </div>
