<button class="slide-arrow" id="slide-arrow-prev">
  <i id ="arrow-left" class="fa-solid fa-arrow-left"></i>
</button>
<button class="slide-arrow" id="slide-arrow-next">
  <i id="arrow-right" class="fa-solid fa-arrow-right"></i>
</button>

<ul class="slides-container" id="slides-container">
  <li class="slide">
    <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696642830/AdeleWedding/BANNERS/IMG_9898_j0z1ae.jpg" class="d-block w-100" alt="Wedding Photo 1">
  </li>
  <li class="slide">
    <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696642774/AdeleWedding/BANNERS/74829DED-6023-4FB6-8AE1-E33DBC9D47BB_urxl0e.jpg" class="d-block w-100" alt="Wedding Photo 2">
  </li>
  <li class="slide">
    <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696642749/AdeleWedding/BANNERS/3J1A9735_uy3wxx.jpg" class="d-block w-100" alt="Wedding Photo 3">
  </li>
  <li class="slide">
    <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696642871/AdeleWedding/BANNERS/3J1A8948_wdtcz1.jpg" class="d-block w-100" alt="Wedding Photo 4">
  </li>
</ul>

<script>
  const slidesContainer = document.getElementById("slides-container");
  const slides = document.querySelectorAll(".slide");
  const prevButton = document.getElementById("slide-arrow-prev");
  const nextButton = document.getElementById("slide-arrow-next");
  let currentSlide = 0;

  nextButton.addEventListener("click", () => {
    currentSlide = (currentSlide + 1) % slides.length;
    animateScrollToSlide(currentSlide);
  });

  prevButton.addEventListener("click", () => {
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    animateScrollToSlide(currentSlide);
  });

  function animateScrollToSlide(index) {
    const targetPosition = index * slidesContainer.clientWidth;
    const startPosition = slidesContainer.scrollLeft;
    const distance = targetPosition - startPosition;
    const duration = 500; // duration in ms
    let startTime = null;

    function animate(currentTime) {
      if (startTime === null) startTime = currentTime;
      const elapsedTime = currentTime - startTime;
      const progress = Math.min(elapsedTime / duration, 1);

      slidesContainer.scrollLeft = startPosition + progress * distance;

      if (progress < 1) {
        window.requestAnimationFrame(animate);
      }
    }

    window.requestAnimationFrame(animate);
  }

</script>
