<div id="container">
  <div class="m-3">
    <h1>&bull; Keep in Touch &bull;</h1>
  </div>
  <div class="icon_wrapper">
    <img src="https://res.cloudinary.com/dqbhsik89/image/upload/v1696361227/Logos_Adele_Port-65_yzluqe.png" alt="adele port weddings logo">
  </div>
  <%= form_for @contact_submission, html: { id: 'contact_form' } do |f| %>
    <div class="names">
      <label for="names"></label>
      <input type="text" placeholder="My name is" name="name" id="name_input" required>
    </div>
    <div class="email">
      <label for="email"></label>
      <input type="email" placeholder="My e-mail is" name="email" id="email_input" required>
    </div>
    <div class="telephone">
      <label for="name"></label>
      <input type="text" placeholder="My number is" name="phone" id="phone_input" required>
    </div>
    <div class="message">
      <label for="message"></label>
      <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
    </div>
    <div class="submit">
      <input type="submit" value="Send Message" id="form_button" />
    </div>
  <% end %>
</div>
