<div id="photos_container">
  <div class="banner-image" style="height: 100vh;">
    <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696642444/AdeleWedding/BANNERS/3J1A1111_nj8bqy.jpg" alt="Banner Image" class="bw-image">
    <div class="image-text">Photoshoots</div>
  </div>

  <div class="gallery">
    <div class="gallery__column">
      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643822/AdeleWedding/photoshoots/HANDS2-2_x9rlrh.jpg" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongolencia</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643842/AdeleWedding/photoshoots/3J1A9477_vjhpdm.jpg" alt="Portrait by Mangola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mangola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643802/AdeleWedding/photoshoots/3J1A9438_j4ueru.jpg" alt="Portrait by Mongoloide" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongoloide</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643776/AdeleWedding/photoshoots/IMG_0496_c5zjyo.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643719/AdeleWedding/photoshoots/3J1A0068_evbckz.jpg" alt="Portrait by Mongolita" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongolita</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643511/AdeleWedding/photoshoots/3J1A0100_mzapzr.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643492/AdeleWedding/photoshoots/3J1A9801_ws3jed.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643391/AdeleWedding/photoshoots/3J1A8217_hkvp6q.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643369/AdeleWedding/photoshoots/3J1A0132_eknddo.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643074/AdeleWedding/photoshoots/IMG_9122_odgjox.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643320/AdeleWedding/photoshoots/3J1A9387_yx0znb.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643238/AdeleWedding/photoshoots/3J1A6572_az5zzm.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>
      <div class="gallery__column">
      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643200/AdeleWedding/photoshoots/3J1A1024_zjwwhd.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643164/AdeleWedding/photoshoots/3J1A0439_uirbx2.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1696643143/AdeleWedding/photoshoots/3J1A3493_v4r4vq.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
      </div>
  </div>
  <div id="imageModal" class="modal-container"></div>
</div>



<script>
  // Function to open the modal with the clicked image
  function openModal(imgSrc) {
    var modalContainer = document.getElementById('imageModal');
    modalContainer.innerHTML = ''; // Clear any previous content

    var modalImage = document.createElement('img');
    modalImage.src = imgSrc;
    modalContainer.appendChild(modalImage);
    modalContainer.style.display = 'block';

    // Close the modal when the close button is clicked
    modalImage.addEventListener('click', function () {
      closeModal();
    });

    // Close the modal when clicking outside of it
    modalContainer.addEventListener('click', function (event) {
      if (event.target === modalContainer) {
        closeModal();
      }
    });
  }

  // Function to close the modal
  function closeModal() {
    var modalContainer = document.getElementById('imageModal');
    modalContainer.style.display = 'none';
  }

  // Get all image links with the class "gallery__link"
  var imageLinks = document.querySelectorAll('.gallery__link');

  // Add a click event listener to each image link
  imageLinks.forEach(function (link) {
    link.addEventListener('click', function (event) {
      event.preventDefault();
      var imgSrc = this.querySelector('.gallery__image').getAttribute('src');
      openModal(imgSrc);
    });
  });
</script>
