<div class="gallery-description">
  <h2>Gallery Description</h2>
  <p>This is a description of the gallery.</p>
</div>
  <div class="gallery">
    <div class="gallery__column">
      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194484/AdeleWedding/fotos/awp12_zkczm5.jpg" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongolencia</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194485/AdeleWedding/fotos/awp3_c7kg96.jpg" alt="Portrait by Mangola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mangola</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp2_bekl5c.jpg" alt="Portrait by Mongoloide" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongoloide</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp13_pebw3v.jpg" alt="Portrait by Mongolita" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongolita</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp7_fmelgn.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194488/AdeleWedding/fotos/awp8_wboo8c.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp6_sxn9ga.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="h" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194489/AdeleWedding/fotos/awp9_bjyt54.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694192497/ni%C3%B1a_babosa_qnrsw5.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>

      <a href="" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194484/AdeleWedding/fotos/awp10_h0ifhj.jpg" alt="Portrait by Mongola" class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mongola</figcaption>
        </figure>
      </a>
    </div>
  </div>
