
<!-- Transparent Header -->


<section class="slider-wrapper">
  <button class="slide-arrow" id="slide-arrow-prev">
    <i class="icon ion-ios-arrow-back"></i>
  </button>
  <button class="slide-arrow" id="slide-arrow-next">
    <i class="icon ion-ios-arrow-forward"></i>
  </button>
  <ul class="slides-container" id="slides-container">
    <li class="slide">
      <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1678466021/cld-sample-5.jpg" class="d-block w-100" alt="shoe">
    </li>
    <li class="slide">
      <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1678467064/guehss74ur3daktsukfj.jpg" class="d-block w-100" alt="Wedding Photo 1">
    </li>
    <li class="slide">
      <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1678465999/samples/animals/reindeer.jpg" class="d-block w-100" alt="Wedding Photo 1">
    </li>
    <li class="slide"></li>
  </ul>
  <script>
    const slidesContainer = document.getElementById("slides-container");
    const slide = document.querySelector(".slide");
    const prevButton = document.getElementById("slide-arrow-prev");
    const nextButton = document.getElementById("slide-arrow-next");

    nextButton.addEventListener("click", (event) => {
      const slideWidth = slide.clientWidth;
        slidesContainer.scrollLeft += slideWidth;
    });

    prevButton.addEventListener("click", () => {
      const slideWidth = slide.clientWidth;
      slidesContainer.scrollLeft -= slideWidth;
    });

    nextButton.addEventListener("click", () => {
      const slideWidth = slide.clientWidth;
      slidesContainer.scrollLeft += slideWidth;
    });

    prevButton.addEventListener("click", () => {
      const slideWidth = slide.clientWidth;
      slidesContainer.scrollLeft -= slideWidth;
    });
  </script>
</section>




<!-- Introduction Section -->
<section id="about" class="text-left content-section"></section>
  <%= render "sections/about"%>
</section>

<section id="testimonials" class="content-section">
  <%= render "sections/testimonials"%>
</section>





<!-- Contact Form -->
<section id="contact_page" class="content-section">
  <div>
    <%= render "sections/contact" %>
  </div>
</section>

<!-- Footer with Social Media Links -->


<!-- Include Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
