
<!-- Transparent Header -->


<section class="slider-wrapper">
  <%= render "sections/carousel_top" %>
</section>

<div class="banner">
  <div class="banner-text text-center" >"Weddings are the best when they are" - was said  </div>
</div>

<!-- Introduction Section -->
<section id="about" class="text-left content-section"></section>
  <%= render "sections/about"%>
</section>

<section id="testimonials" class="content-section">
  <%= render "sections/testimonials"%>
</section>





<!-- Contact Form -->
<section id="contact_page" class="content-section">
  <div>
    <%= render "sections/contact" %>
  </div>
</section>

<!-- Footer with Social Media Links -->


<!-- Include Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
