<div class="vessel">
  <section class="slider-wrapper">
      <%= render "sections/carousel_top" %>
  </section>


  <div class="banner fade-in">
    <div class="banner-text text-center">
      "Lets make weddings photogenic together"
    </div>
  </div>

  <section id="about" class="text-left content-section fade-in">
    <%= render "sections/about"%>
  </section>

  <div class="banner-image fade-in">
    <video autoplay loop muted class="centered-video">
      <source src="https://res.cloudinary.com/dubrm4blh/video/upload/v1696642219/AdeleWedding/BANNERS/Port_lift8f.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>



  <section id="testimonials" class="content-section fade-in">
    <%= render "sections/testimonials"%>
  </section>



  <div class="banner fade-in">

    <div class="banner-text text-center col-6">
      "Love is a many splendid thing"
    </div>

  </div>

  <!-- Contact Form -->
  <section id="contact_page" class="content-section fade-in">
    <div>
      <%= render "sections/contact" %>
    </div>
  </section>

  <div class="banner fade-in">
    <div class="banner-text text-center">
      "The End"
    </div>
  </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', () => {
  const sections = document.querySelectorAll('.fade-in');

  const fadeInOptions = {
    root: null,
    threshold: 0.2, // Adjust this value as needed
  };

  const fadeInObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('fade-in-visible');
        observer.unobserve(entry.target);
      }
    });
  }, fadeInOptions);

  sections.forEach((section) => {
    fadeInObserver.observe(section);
  });
});
</script>
