<div>
    <header>
        <h1>Wedding Portfolio</h1>
    </header>

    <main>
        <section class="gallery">
            <div class="photo">
                <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194489/AdeleWedding/fotos/awp9_bjyt54.jpg" alt="Wedding Photo 1">
            </div>
            <div class="photo">
                <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Wedding Photo 2">
            </div>
            <div class="photo">
                <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp6_sxn9ga.jpg" alt="Wedding Photo 3">
            </div>
            <!-- Add more photos here -->
        </section>
    </main>

    <footer>
        © 2023 AdeleWedding
    </footer>
</div>
