<div class="portfolio-options-container">
<div class="justify-content-center" style="margin-top: 15vh;text-align: center;width: 98vw;padding-left: 10%;padding-right: 10%;margin-bottom: 0vh;">
  <h1>Recent Works</h1>
  <h5>"This is a careful selection of the most recent photographs so that you can get a good idea of my work and what you can expect."</h5>
</div>


  <div class="content">
    <div class="wrapper">
      <%= link_to wedding_gallery_path do %>
        <div class="box blury-card">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194485/AdeleWedding/fotos/awp1_imahdc.jpg" alt="Blue Ridge Mountains">
          <div class="frame">
            <h2>Weddings</h2>
            <p>See selection</p>
          </div>
        </div>
      <% end %>
      <h4 style="text-align: center;">WEDDINGS</h4>
    </div>
    <div class="wrapper">
      <%= link_to sessions_gallery_path do %>
        <div class="box blury-card">
          <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194485/AdeleWedding/fotos/awp3_c7kg96.jpg" alt="Blue Ridge Mountains">
          <div class="frame">
            <h2>Photoshoots</h2>
            <p>See selection</p>
          </div>
        </div>
      <% end %>
      <h4 style="text-align: center;">PHOTOSHOOTS</h4>
    </div>
  </div>
</div>
