<h1>Portfolio</h1>
<p>Welcome to my portfolio page.</p>

<a href="<%= wedding_gallery_path %>" class="btn btn-primary">Wedding Photo Gallery</a>
<a href="<%= sessions_gallery_path %>" class="btn btn-primary">Normal Photo Sessions Gallery</a>
