<div class="container">
    <main>
        <section class="gallery">
            <div class="row">
                <div class="col-md-6">
                    <div class="photo left">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194489/AdeleWedding/fotos/awp9_bjyt54.jpg" alt="Wedding Photo 1">
                    </div>
                    <div class="photo left">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Wedding Photo 2">
                    </div>
                    <div class="photo left">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp6_sxn9ga.jpg" alt="Wedding Photo 3">
                    </div>
                    <div class="photo left">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194488/AdeleWedding/fotos/awp8_wboo8c.jpg" alt="Wedding Photo 4">
                    </div>
                    <div class="photo left">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp7_fmelgn.jpg" alt="Wedding Photo 5">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="photo right">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194487/AdeleWedding/fotos/awp13_pebw3v.jpg" alt="Wedding Photo 6">
                    </div>
                    <div class="photo right">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp5_ecvo5u.jpg" alt="Wedding Photo 7">
                    </div>
                    <div class="photo right">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194486/AdeleWedding/fotos/awp2_bekl5c.jpg" alt="Wedding Photo 8">
                    </div>
                    <div class="photo right">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194485/AdeleWedding/fotos/awp3_c7kg96.jpg" alt="Wedding Photo 9">
                    </div>
                    <div class="photo right">
                        <img src="https://res.cloudinary.com/dubrm4blh/image/upload/v1694194484/AdeleWedding/fotos/awp12_zkczm5.jpg" alt="Wedding Photo 9">
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
