#footer {
  min-height: 210px;
  padding-top: 100px;
  font-family:'Nanum Myeongjo';
  background-color: #ded0c1;
  vertical-align: middle;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 150px;


}

.a-holder {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#footer .row {
  vertical-align: middle;
  text-align: center;


}

#footer ul {
  text-align: center;

}

.footer img {
  height: 55px;
  filter: brightness(200%) contrast(200%) grayscale(100%);
  padding-left: 12%;
  padding-right: 18%;
}
