.navbar {
  justify-content: space-between;
  /*border-bottom: $white 0.5px solid;*/
  position: absolute;
  top: 0%;
  z-index: 1000;
  width: 100vw;
  padding-top: 2%;
  background-image: linear-gradient(to bottom, rgba(60,58,56,255), rgba(144, 144, 144, 0)); /* Replace these colors with your desired gradient */
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand {
  color: rgba(238,234,232,255);
  font-family: "Helvetica Neue";
  /*  font-size: 2.2em;*/
  font-size: 2.2em;

}

.navbar .nav-link {
  color: rgba(238,234,232,255);
  font-family: "Helvetica Neue";
  font-size: 2.2em;
  padding-left: 3em !important;
  /*font-weight: 100;*/

}
